{% extends 'base.html' %}

{% block title %}Expertise{% endblock %}

{% block content %}
<div class="container mx-auto px-6 py-8 max-w-5xl">
    <h1 class="text-3xl font-bold mb-8 text-center text-teal-400">Areas of my Expertise</h1>

    {% if expertises %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
        {% for expertise in expertises  %}
        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold text-teal-400 mb-2 text-center">{{expertise.title}}</h2>
            <p class="text-gray-300">{{expertise.description}}</p>
        </div>
        {% endfor %}

    {% endif %}

        <!-- Add more cards as needed -->
    </div>
</div>
{% endblock %}
