{% extends "base.html" %}

{% block title %}Posts | {{ category }}{% endblock %}

{% block content %}
<section class="mx-auto py-8 px-4" style="max-width: 800px;">
        <h2 class="text-3xl font-bold text-center mb-8">Blogs in Category: {{ category }}</h2>

        {% for post in posts %}
            <div class="mb-8">
                <h3 class="text-2xl font-semibold">
                    <a href="{% url 'blog_detail' post.pk %}" class="text-teal-400 hover:underline">{{ post.title }}</a>
                </h3>
                <small class="text-gray-500">
                    {{ post.created_on.date }} | Categories:
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}" class="text-teal-400 hover:underline">
                            {{ category.name }}
                        </a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
                <p class="text-gray-300 mt-4">{{ post.summary | slice:":225" }}...</p>
            </div>
        {% endfor %}
        <div class="bg-gray-800 p-2 rounded-lg shadow-md ">
        
            <a href="{% url 'blog_index' %}" class="ml-8 inline-block text-teal-400 hover:text-teal-300 font-semibold">
                Check out All the Blogs &rarr;
            </a>
        </div>
    </section>
    
{% endblock %}
